html
	width: 100%
	height: 100%

body
	position: relative
	width: 100%
	height: 100%
	overflow-x: hidden

.main-logo
	position: fixed
	top: 30px
	left: 50%
	width: 350px
	height: 70px
	transform: translate(-50%, 0)
	img
		width: 100%
		height: 100%
		object-fit: contain