.contacts
	position: absolute
	display: flex
	justify-content: center
	bottom: -100%
	left: 0
	width: 100%
	height: 100%
	padding: 100px 0
	background-color: $contacts-bg
	background-image: url(../../images/page-contacts-bg.png)
	background-position: 100% 50%
	background-repeat: no-repeat
	color: $c-txt-color
	animation: hideContacts 0.5s
	animation-fill-mode: forwards
	z-index: $position-2lvl
	@include desktop-xl
		background-size: 300px 520px
	@include desktop-lp2
		background-size: 300px 520px
	@include desktop-lp1
		padding: 30px 0
		background-size: 280px 480px
	@include desktop-xs
		padding: 30px 0
		background-size: 300px 520px
		background-position: 110% 50%
	@include tablet
		bottom: 0
		left: -100%
		padding: 30px 0
		background-size: 260px 450px
		background-position: 115% 50%
		animation: hideContactsMob 0.5s
		animation-fill-mode: forwards
	@include tablet-xs
		bottom: 0
		left: -100%
		padding: 30px 0
		background-size: 180px 320px
		background-position: 110% 50%
		animation: hideContactsMob 0.5s
		animation-fill-mode: forwards
	@include mobile
		bottom: 0
		left: -100%
		padding: 30px 0
		background-image: none
		animation: hideContactsMob 0.5s
		animation-fill-mode: forwards
	&__state_active
		animation: showContacts 0.5s
		animation-fill-mode: forwards
		@include tablet
			animation: showContactsMob 0.5s
			animation-fill-mode: forwards
		@include tablet-xs
			animation: showContactsMob 0.5s
			animation-fill-mode: forwards
		@include mobile
			animation: showContactsMob 0.5s
			animation-fill-mode: forwards

@keyframes showContacts
	from
		bottom: -100%
	to
		bottom: 0

@keyframes hideContacts
	from
		bottom: 0
	to
		bottom: -100%

@keyframes showContactsMob
	from
		left: -100%
	to
		left: 0

@keyframes hideContactsMob
	from
		left: 0
	to
		left: -100%

.contacts__close
	position: absolute
	display: block
	top: 35px
	left: 55px
	width: 45px
	height: 45px
	cursor: pointer
	@include tablet
		left: auto
		right: 55px
	@include tablet-xs
		left: auto
		right: 55px
	@include mobile
		top: 10px
		left: 15px
		width: 25px
		height: 25px
	&:before,
	&:after
		content: ''
		position: absolute
		display: block
		top: 50%
		left: 50%
		width: 90%
		height: 2px
		background-color: $c-close-color
		transition: all 0.3s
	&:before
		transform: translate(-50%, -50%) rotate(45deg)
	&:after
		transform: translate(-50%, -50%) rotate(-45deg)
	&:hover
		&:before,
		&:after
			background-color: $c-close-hover
			transition: all 0.3s

.contacts__container
	display: flex
	flex-direction: column
	width: 1150px
	height: auto
	padding-top: 100px
	@include desktop-lp1
		padding-top: 60px
	@include tablet
		padding-left: 30px
		padding-right: 30px
	@include tablet-xs
		padding-left: 30px
		padding-right: 30px
	@include mobile
		padding-top: 40px
		padding-left: 15px
		padding-right: 15px

.contacts__header
	position: relative
	margin-bottom: 30px
	font-family: 'Polt-bold'
	font-size: 60px
	line-height: 60px
	text-align: center
	text-transform: uppercase
	color: $c-header-color
	@include desktop-xl
		font-size: 55px
		line-height: 55px
	@include desktop-lp2
		font-size: 50px
		line-height: 50px
	@include desktop-lp1
		font-size: 44px
		line-height: 44px
	@include desktop-xs
		font-size: 44px
		line-height: 44px
	@include tablet
		font-size: 44px
		line-height: 44px
	@include tablet-xs
		font-size: 36px
		line-height: 36px
	@include mobile
		font-size: 28px
		line-height: 28px
	&:after
		content: ''
		position: absolute
		bottom: -10px
		left: 50%
		width: 100px
		height: 6px
		background-color: $c-header-color
		transform: translate(-50%, 0)

.contacts__links
	display: flex
	flex-wrap: wrap
	justify-content: center
	padding: 75px 150px
	@include desktop-lp1
		padding: 55px 125px
	@include desktop-xs
		padding: 55px 125px
	@include tablet
		padding: 50px 100px
	@include tablet-xs
		padding: 50px 100px
	@include mobile
		padding: 20px 0px

.contacts__link
	position: relative
	display: block
	width: 130px
	height: 130px
	margin: 0 75px 120px
	background-position: 50%
	background-repeat: no-repeat
	background-size: contain
	transition: all 0.3s
	@include desktop-lp1
		width: 110px
		height: 110px
		margin: 0 55px 80px
	@include desktop-xs
		width: 110px
		height: 110px
		margin: 0 55px 80px
	@include tablet
		width: 100px
		height: 100px
		margin: 0 50px 70px
	@include tablet-xs
		width: 100px
		height: 100px
		margin: 0 50px 70px
	@include mobile
		width: 55px
		height: 55px
		margin: 0 30px 60px
	&:hover
		transition: all 0.3s
		.contacts__tooltip
			animation: tooltip-show 0.5s
			animation-fill-mode: forwards
			@include mobile
				animation: mob-tooltip-show 0.5s

.contacts__link_linkedin
	background-image: url(../../images/linkedin.png)
	&:hover
		background-image: url(../../images/linkedin-h.png)

.contacts__link_github
	background-image: url(../../images/github.png)
	&:hover
		background-image: url(../../images/github-h.png)

.contacts__link_codepen
	background-image: url(../../images/codepen.png)
	&:hover
		background-image: url(../../images/codepen-h.png)

.contacts__link_e-mail
	background-image: url(../../images/mail.png)
	&:hover
		background-image: url(../../images/mail-h.png)

.contacts__link_resume
	background-image: url(../../images/resume.png)
	&:hover
		background-image: url(../../images/resume-h.png)

.contacts__tooltip
	position: absolute
	top: -70px
	left: 50%
	padding: 10px
	transform: translate(-50%, 0)
	border: none
	border-radius: 10px
	background-color: rgba(0, 0, 0, 0.8)
	opacity: 0
	color: $c-txt-color
	white-space: nowrap
	animation: tooltip-hide 0.5s
	animation-fill-mode: forwards
	@include mobile
		top: -30px
		font-size: 12px
		animation: mob-tooltip-hide 0.5s
	&:after
		content: ''
		position: absolute
		display: block
		bottom: -8px
		left: 50%
		width: 15px
		height: 15px
		background-color: rgba(0, 0, 0, 0.8)
		transform: translate(-50%, 0) rotate(45deg)

@keyframes tooltip-show
	0%
		top: -50px
		opacity: 0
	100%
		top: -70px
		opacity: 1

@keyframes tooltip-hide
	0%
		top: -70px
		opacity: 1
	100%
		top: -50px
		opacity: 0

@keyframes mob-tooltip-show
	0%
		top: -10px
		opacity: 0
	100%
		top: -30px
		opacity: 1

@keyframes mob-tooltip-hide
	0%
		top: -30px
		opacity: 1
	100%
		top: -10px
		opacity: 0