.exp
	position: absolute
	display: flex
	justify-content: center
	bottom: -100%
	left: 0
	width: 100%
	height: 100%
	padding: 100px 0
	background-color: $exp-bg
	background-image: url(../../images/page-exp-bg.png)
	background-position: 100% 50%
	background-repeat: no-repeat
	color: $e-txt-color
	animation: hideExp 0.5s
	animation-fill-mode: forwards
	z-index: $position-2lvl
	&__state_active
		animation: showExp 0.5s
		animation-fill-mode: forwards

@keyframes showExp
	from
		bottom: -100%
	to
		bottom: 0

@keyframes hideExp
	from
		bottom: 0
	to
		bottom: -100%

.exp__close
	position: absolute
	display: block
	top: 35px
	left: 55px
	width: 45px
	height: 45px
	cursor: pointer
	&:before,
	&:after
		content: ''
		position: absolute
		display: block
		top: 50%
		left: 50%
		width: 90%
		height: 2px
		background-color: $e-close-color
		transition: all 0.3s
	&:before
		transform: translate(-50%, -50%) rotate(45deg)
	&:after
		transform: translate(-50%, -50%) rotate(-45deg)
	&:hover
		&:before,
		&:after
			background-color: $e-close-hover
			transition: all 0.3s

.exp__container
	display: flex
	flex-direction: column
	width: 1150px
	height: auto
	padding-top: 100px

.exp__header
	position: relative
	margin-bottom: 30px
	font-family: 'Polt-bold'
	font-size: 60px
	line-height: 60px
	text-align: center
	text-transform: uppercase
	color: $e-header-color
	&:after
		content: ''
		position: absolute
		bottom: -10px
		left: 50%
		width: 100px
		height: 6px
		background-color: $e-header-color
		transform: translate(-50%, 0)

.exp__works
	display: flex
	flex-direction: column

.exp__work-item
	display: flex
	flex-direction: column
	margin-bottom: 50px
	&:last-child
		margin-bottom: 0

.exp__top-block
	position: relative
	display: flex
	align-items: center
	margin-bottom: 25px
	padding-right: 100px

.exp__work-number
	position: relative
	width: 50px
	margin-right: 70px
	font-family: 'Polt-ExtraBold'
	font-size: 60px
	line-height: 60px
	text-align: center
	&:after
		content: ''
		position: absolute
		top: 50%
		right: -6px
		width: 6px
		height: 70px
		background-color: $e-txt-color
		transform: translate(0, -50%)

.exp__work-name
	margin-right: 125px
	font-family: 'Polt-bold'
	font-size: 48px
	line-height: 48px

.exp__work-period
	margin-right: 140px
	font-family: 'Polt-Regular'
	font-size: 24px
	line-height: 24px

.exp__work-position
	font-family: 'Polt-bold'
	font-size: 24px
	line-height: 24px

.exp__bottom-block
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center

.exp__work-header
	margin-bottom: 30px
	font-family: 'Polt-Regular'
	font-size: 30px
	line-height: 30px

.exp__work-descr
	font-family: 'Polt-Regular'
	font-size: 18px
	line-height: 26px
	ul
		column-count: 2
		text-align: left
	li
		position: relative
		padding-left: 18px
		&:before
			content: ''
			position: absolute
			top: 50%
			left: 0
			width: 13px
			height: 2px
			background-color: $e-txt-color
			transform: translate(0, -50%)
