.portfolio
	position: absolute
	display: flex
	align-items: center
	bottom: -100%
	left: 0
	width: 100%
	height: 100%
	padding-left: 100px
	background-color: $portfolio-bg
	background-image: url(../../images/portfolio-bg.jpg)
	background-position: 50% 50%
	background-repeat: no-repeat
	background-size: cover
	color: $p-txt-color
	animation: hidePortfolio 0.5s
	animation-fill-mode: forwards
	z-index: $position-2lvl
	&__state_active
		animation: showPortfolio 0.5s
		animation-fill-mode: forwards

@keyframes showPortfolio
	from
		bottom: -100%
	to
		bottom: 0

@keyframes hidePortfolio
	from
		bottom: 0
	to
		bottom: -100%

.portfolio__close
	position: absolute
	display: block
	top: 35px
	left: 55px
	width: 45px
	height: 45px
	cursor: pointer
	z-index: $position-top
	&:before,
	&:after
		content: ''
		position: absolute
		display: block
		top: 50%
		left: 50%
		width: 90%
		height: 2px
		background-color: $p-close-color
		transition: all 0.3s
	&:before
		transform: translate(-50%, -50%) rotate(45deg)
	&:after
		transform: translate(-50%, -50%) rotate(-45deg)
	&:hover
		&:before,
		&:after
			background-color: $p-close-hover
			transition: all 0.3s

.portfolio__items
	position: relative
	display: flex
	justify-content: center
	align-items: center
	width: 100%
	height: 470px
	background-image: url(../../images/portfolio-monitor.png)
	background-position: 0 50%
	background-repeat: no-repeat
	background-size: contain
	&:before
		content: ''
		position: absolute
		display: block
		top: 50%
		left: 340px
		width: 600px
		height: 600px
		border-radius: 50%
		background-color: rgba(255, 255, 255, .5)
		transform: translate(0, -50%)

.portfolio__arrow
	position: absolute
	top: 50%
	width: 50px
	height: 50px
	border: 1px solid rgba(0, 0, 0, 0.3)
	border-radius: 50%
	background-color: rgba(0, 0, 0, 0.3)
	transform: translate(0, -50%)
	cursor: pointer
	transition: all 0.3s
	&:before
		content: ''
		position: absolute
		display: block
		top: 50%
		left: 50%
		width: 45%
		height: 45%
		border-right: 2px solid $p-arrow-color
		border-bottom: 2px solid $p-arrow-color
		transition: all 0.3s
	&:hover
		background-color: rgba(0, 0, 0, 0.7)
		transition: all 0.3s

.portfolio__arrow_prev
	left: -50px
	&:before
		transform: translate(-25%, -50%) rotate(135deg)

.portfolio__arrow_next
	right: 50px
	&:before
		transform: translate(-75%, -50%) rotate(-45deg)

.portfolio__item
	position: relative
	display: flex
	justify-content: flex-end
	align-items: center
	width: 100%
	height: auto
	padding-right: 300px
	transition: all 0.5s

.portfolio__item-img
	position: absolute
	top: 50%
	left: 365px
	width: 550px
	height: 550px
	border-radius: 50%
	background-position: 50%
	background-size: cover
	transform: translate(0, -50%)
	transition: all 0.5s

.portfolio__item-container
	position: relative
	display: flex
	flex-direction: column
	width: 320px

.portfolio__item-name
	position: relative
	margin-bottom: 50px
	font-family: 'Polt-bold'
	font-size: 70px
	line-height: 70px
	text-transform: capitalize
	text-align: center
	color: $p-title-color
	white-space: nowrap
	&:before
		content: ''
		position: absolute
		display: block
		bottom: -15px
		left: 50%
		width: 100px
		height: 7px
		background-color: $p-title-color
		transform: translate(-50%, 0)

.portfolio__item-link
	position: relative
	display: inline-flex
	width: auto
	margin-bottom: 30px
	font-family: 'Polt-Regular'
	font-size: 24px
	line-height: 24px
	color: $p-link-color
	text-decoration: none
	text-transform: lowercase
	transition: all 0.3s
	z-index: $position-1lvl
	&:after
		content: ''
		position: absolute
		display: block
		bottom: -10px
		left: 50%
		width: 0
		height: 2px
		background-color: $p-link-color
		transform: translate(-50%, 0)
		transition: all 0.3s
	&:hover, &:active, &:visited, &:focus
		color: $p-link-color
		text-decoration: none
		transition: all 0.3s
		&:after
			width: 100%
			transition: all 0.3s

.portfolio__item-descr
	font-family: 'Polt-Regular'
	font-size: 16px
	line-height: 20px
	color: $p-text-color

.showlink-enter
	top: -10px
	opacity: 0.1

.showlink-enter.showlink-enter-active
	top: 0
	opacity: 1
	transition: all 0.5s