.skills
	position: absolute
	display: flex
	justify-content: center
	bottom: -100%
	left: 0
	width: 100%
	height: 100%
	padding: 100px 0
	background-color: $skills-bg
	background-image: url(../../images/page-skills-bg.png)
	background-position: 100% 50%
	background-repeat: no-repeat
	color: $s-txt-color
	animation: hideSkills 0.5s
	animation-fill-mode: forwards
	z-index: $position-2lvl
	&__state_active
		animation: showSkills 0.5s
		animation-fill-mode: forwards

@keyframes showSkills
	from
		bottom: -100%
	to
		bottom: 0

@keyframes hideSkills
	from
		bottom: 0
	to
		bottom: -100%

.skills__close
	position: absolute
	display: block
	top: 35px
	left: 55px
	width: 45px
	height: 45px
	cursor: pointer
	&:before,
	&:after
		content: ''
		position: absolute
		display: block
		top: 50%
		left: 50%
		width: 90%
		height: 2px
		background-color: $s-close-color
		transition: all 0.3s
	&:before
		transform: translate(-50%, -50%) rotate(45deg)
	&:after
		transform: translate(-50%, -50%) rotate(-45deg)
	&:hover
		&:before,
		&:after
			background-color: $s-close-hover
			transition: all 0.3s

.skills__container
	display: flex
	flex-direction: column
	width: 1150px
	height: auto
	padding-top: 100px

.skills__header
	position: relative
	margin-bottom: 30px
	font-family: 'Polt-bold'
	font-size: 60px
	line-height: 60px
	text-align: center
	text-transform: uppercase
	color: $s-header-color
	&:after
		content: ''
		position: absolute
		bottom: -10px
		left: 50%
		width: 100px
		height: 6px
		background-color: $s-header-color
		transform: translate(-50%, 0)

.diagram
	position: relative
	display: flex
	align-items: flex-end
	width: calc(100% - 80px)
	height: calc(100% - 50px)
	padding-left: 50px
	span
		position: relative
		display: flex
		align-items: flex-end
		width: 100%
		height: 100%

.diagram__grid
	position: absolute
	bottom: 0
	left: 0
	width: 100%
	height: 100%
	z-index: $position-bottom

.diagram__axis-y,
.diagram__axis-x
	position: absolute
	bottom: 0
	left: 50px
	background-color: $s-grid-bg

.diagram__axis-y
	width: 2px
	height: 100%

.diagram__axis-x
	width: calc(100% - 50px)
	height: 2px

.diagram__line
	position: absolute
	left: 0
	width: 100%
	transform: translate(0, -50%)
	&:before
		position: absolute
		top: 50%
		left: 2%
		font-family: 'Polt-Light'
		font-size: 16px
		line-height: 16px
		color: $s-txt-color
		transform: translate(-50%, -50%)
	&:after
		content: ''
		position: absolute
		top: 50%
		left: 50px
		width: calc(100% - 50px)
		height: 1px
		background-color: $s-grid-bg
		transform: translate(0, -50%)

.diagram__line_jedi
	top: 0
	&:before
		content: 'Jedi'

.diagram__line_ninja
	top: 25%
	&:before
		content: 'Ninja'

.diagram__line_geek
	top: 50%
	&:before
		content: 'Geek'

.diagram__line_newbie
	top: 75%
	&:before
		content: 'Newbie'

.diagram__item
	display: flex
	flex-direction: column
	justify-content: flex-end
	align-items: center
	width: calc(100% / 7 - 10px)
	margin-left: 10px
	margin-bottom: 2px
	padding-bottom: 30px

.diagram__item_html
	height: 92%
	background-color: $s-html-color
	&.showditem-appear
		height: 15%
	&.showditem-appear.showditem-appear-active
		animation: htmlItem 1.1s ease-in-out
		animation-fill-mode: forwards

.diagram__item_tea
	height: 96%
	background-color: $s-tea-color
	&.showditem-appear
		height: 15%
	&.showditem-appear.showditem-appear-active
		animation: teaItem 1.1s ease-in-out
		animation-fill-mode: forwards

.diagram__item_sass
	height: 75%
	background-color: $s-sass-color
	&.showditem-appear
		height: 15%
	&.showditem-appear.showditem-appear-active
		animation: sassItem 1.1s ease-in-out
		animation-fill-mode: forwards

.diagram__item_jquery
	height: 65%
	background-color: $s-jquery-color
	&.showditem-appear
		height: 15%
	&.showditem-appear.showditem-appear-active
		animation: jqueryItem 1.1s ease-in-out
		animation-fill-mode: forwards

.diagram__item_bem
	height: 75%
	background-color: $s-bem-color
	&.showditem-appear
		height: 15%
	&.showditem-appear.showditem-appear-active
		animation: bemItem 1.1s ease-in-out
		animation-fill-mode: forwards

.diagram__item_pizza
	height: 96%
	background-color: $s-pizza-color
	&.showditem-appear
		height: 15%
	&.showditem-appear.showditem-appear-active
		animation: pizzaItem 1.1s ease-in-out
		animation-fill-mode: forwards

.diagram__item_react
	height: 20%
	background-color: $s-react-color
	&.showditem-appear
		height: 15%
	&.showditem-appear.showditem-appear-active
		animation: reactItem 1.1s ease-in-out
		animation-fill-mode: forwards

.diagram__item-parcent
	display: flex
	align-items: center
	margin-bottom: 10px
	font-family: 'Polt-bold'
	font-size: 60px
	line-height: 60px
	span
		font-size: 24px

.diagram__item-name
	font-family: 'Polt-bold'
	font-size: 16px
	line-height: 16px

@keyframes htmlItem
	0%
		height: 15%
	75%
		height: 120%
	100%
		height: 92%

@keyframes teaItem
	0%
		height: 20%
	75%
		height: 115%
	100%
		height: 96%

@keyframes sassItem
	0%
		height: 25%
	75%
		height: 100%
	100%
		height: 75%

@keyframes jqueryItem
	0%
		height: 20%
	75%
		height: 90%
	100%
		height: 65%

@keyframes bemItem
	0%
		height: 25%
	75%
		height: 95%
	100%
		height: 75%

@keyframes pizzaItem
	0%
		height: 20%
	75%
		height: 125%
	100%
		height: 96%

@keyframes reactItem
	0%
		height: 10%
	75%
		height: 40%
	100%
		height: 20%

