//common
$position-bottom: -1
$position-1lvl: 1
$position-2lvl: 11
$position-3lvl: 55
$position-4lvl: 111
$position-5lvl: 555
$position-6lvl: 1111
$position-7lvl: 5555
$position-8lvl: 11111
$position-9lvl: 55555
$position-top: 111111

//actions
$about-bg: #202d3a
$exp-bg: #2ecc71
$skills-bg: #f1c40f
$portfolio-bg: #3498db
$contacts-bg: #9b59b6
$about-color: #ff6600
$exp-color: #ff6339
$skills-color: #351ea7
$portfolio-color: #ffa430
$contacts-color: #f6fd76