//common
$txt-color: #fff
$position-bottom: -1
$position-1lvl: 1
$position-2lvl: 11
$position-3lvl: 55
$position-4lvl: 111
$position-5lvl: 555
$position-6lvl: 1111
$position-7lvl: 5555
$position-8lvl: 11111
$position-9lvl: 55555
$position-top: 111111

$desktop-xl-width: 1580px
$desktop-lp2-width: 1420px
$desktop-lp1-width: 1346px
$desktop-xs-width: 1260px

$tablet-width: 960px
$tablet-xs-width: 768px

//actions
$about-bg: #202d3a
$exp-bg: #2ecc71
$skills-bg: #f1c40f
$portfolio-bg: #3498db
$contacts-bg: #9b59b6
$about-color: #ff6600
$exp-color: #ff6339
$skills-color: #351ea7
$portfolio-color: #ffa430
$contacts-color: #f6fd76

//about page
$a-txt-color: #fff
$a-tb-header-color: #2c3e50
$a-close-color: #fff
$a-close-hover: #ff6600


//exp page
$e-txt-color: #fff
$e-header-color: #1c7843
$e-close-color: #fff
$e-close-hover: #ff6339


//skills page
$s-txt-color: #fff
$s-header-color: #997c09
$s-close-color: #fff
$s-close-hover: #351ea7
$s-grid-bg: #997c09
$s-html-color: #e34f26
$s-tea-color: #2965f1
$s-sass-color: #cd669a
$s-jquery-color: #0769ad
$s-bem-color: #2ae897
$s-pizza-color: #690081
$s-react-color: #00d8ff


//portfolio page
$p-txt-color: #fff
$p-header-color: #1f5980
$p-close-color: #fff
$p-close-hover: #ffa430
$p-arrow-color: #fff
$p-link-color: #fff
$p-title-color: #fff
$p-text-color: #fff


//contacts page
$c-txt-color: #fff
$c-header-color: #623873
$c-close-color: #fff
$c-close-hover: #f6fd76


//error page
$er-bg: #202d3a
$er-txt-color: #fff
$er-tb-header-color: #2c3e50
$er-close-color: #fff
$er-close-hover: #ff6600
$er-cloud-bg: #fff
$er-number-color: #202d3a
$er-link-border-color: #ff6600